# 직접 해보세요!
## 시리즈와 데이터프레임 직접 만들기(51쪽)
### 1. 시리즈 만들기

- 이전에는 파일에서 데이터 집합을 불러온 다음 실습을 진행했습니다.
- 이번에는 실습에 사용할 시리즈와 데이터프레임을 직접 만들어서 진행하겠습니다.

In [2]:
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

- 인덱스는 보통 0부터 시작한다고 설명했었는데요, 하지만 시리즈를 생성할 때 문자열을 인덱스로 지정할 수 있다.
- 문자열을 인덱스로 지정하면 Series메서드의 index인자를 통해 인덱스로 사용하고자 하는 문자열을 리스트에 담아 전달하면 된다.

In [2]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

In [3]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

### 3. 데이터프레임 만들기

- 데이터프레임을 만들기 위해서 딕셔너리를 DataFrame 클래스에 전달해야 한다.

In [4]:
scientists = pd.DataFrame({ 
    'Name': ['Rosaline Franklin', 'William Gosset'], 
    'Occupation': ['Chemist', 'Statistician'], 
    'Born': ['1920-07-25', '1876-06-13'], 
    'Died': ['1958-04-16', '1937-10-16'], 
    'Age': [37, 61]}) 
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

- 시리즈와 마찬가지로 데이터프레임도 인덱스를 따로 지정하지 않으면 인덱스를 0부터 자동으로 생성한다.
- 인덱스를 따로 지정하려면 index 인자에 리스트를 전달하면 된다.
- 또 columns 인자를 사용하면 데이터프레임의 열 순서를 지정할 수 있다.
- 예를 들어 데이터프레임을 만들 때 Occupation, Born, Died, Age의 순서로 딕셔너리를 전달했어도 columns인자에 Occupation, Born, Age, Died의 순서로 열 이름을 전달하면 생성된 데이터프레임의 열 순서는 columns에 전달한 값을 따라 간다.

In [5]:
scientists = pd.DataFrame( 
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died']) 
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

- 위에서 데이터프레임을 만들 때 딕셔너리를 전달한다고 했다. 그런데 딕셔너리는 데이터의 순서를 보장하지 않는다.
- 즉 Name, Rosaline, Franklin, William Goaset의 순서가 바뀔 수도 있다는 뜻이다.
- 만약 순서가 보장된 딕셔너리를 전달하려면 OrderedDict 클래스를 사용해야 한다. 
- 다음과 같이 입력하면 딕셔너리의 데이터 순서를 그대로 유지하면서 데이터프레임을 만들 수 있다.

In [4]:
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([ 
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist', 'Statistician']), 
    ('Born', ['1920-07-25', '1876-06-13']), 
    ('Died', ['1958-04-16', '1937-10-16']), 
    ('Age', [37, 61])
])
) 
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 직접 해보세요!
## 데이터프레임에서 시리즈 선택하기(54쪽)

- 먼저 변수 scientists에 데이터프레임을 준비한다

In [3]:
scientists = pd.DataFrame(
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age'])

- 데이터프레임에서 시리즈를 선택하려면 loc속성에 인덱스(과학자 이름)를 전달하면 된다.
- 정말 시리즈를 선택한 것인지 확인하기 위해 type으로 한 번 더 검사한다.

In [13]:
first_row = scientists.loc['William Gosset'] 
print(type(first_row))

<class 'pandas.core.series.Series'>

- first_row를 출력해보자. 여기서 주목해야 할 점은 데이터프레임을 만들 때 Age열에 정수형 리스트를 전달해도 시리즈(first_row)를 출력해 보면 시리즈의 자료형을 오브젝트로 인식한다는 점이다.

In [12]:
print(first_row)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

# 직접 해보세요!
## index, values 속성과 keys 메서드 사용하기(55쪽)

### 1. index 속성 사용하기
- index 속성에는 시리즈의 인덱스가 들어있다.

In [10]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

### 2. values 속성 사용하기
- values 속성에는 시리즈의 데이터가 저장되어 있다.

In [11]:
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' 61]

### 3. keys 메서드 사용하기
- keys는 속성이 아니라 메서드다. keys 메서드의 기능은 무엇일까? keys 메서드는 index 속성과 같은 역할을 한다.
- 즉 과정 1의 결과와 동일한 결과값을 얻을 수 있다.

In [12]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

### 4. index 속성 응용하기
- 만약 index 속성의 첫 번째 값을 추출하려면 다음과 같이 코드를 작성하면 된다.

In [13]:
print(first_row.index[0])

Occupation

### 5. keys 메서드와 index 속성 응용하기
- keys 메서드의 결과값을 이용하여 인덱스의 첫 번째 값을 추출하는 방법은 다음과 같다.

In [14]:
print(first_row.keys()[0])

Occupation

# 직접 해보세요!
## 시리즈의 mean, min, max, std 메서드 사용하기(56쪽)

- 이번에는 scientists의 Age열을 추출해보자.

In [15]:
ages = scientists['Age'] 
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

- 만약 시리즈를 구성하는 데이터가 정수라면 mean, min, max, std와 같은 통계 메서드를 사용할 수 있다.

In [16]:
print(ages.mean())

49.0

In [17]:
print(ages.min())

37

In [18]:
print(ages.max())

61

In [19]:
print(ages.std())

16.97056274847714

# 직접 해보세요!
## 시리즈와 불린 추출 사용하기(59쪽)

- 앞에서는 원하는 데이터를 추출할 때 특정 인덱스를 지정하여 추출했습니다. 하지만 보통은 추출할 데이터의 정확한 인덱스를 모르는 경우가 더 많다.
- 이런 경우에 사용하는 방법이 불린 추출이다. 불린 추출은 특정 조건을 만족하는 값만 추출할 수 있다.

In [5]:
scientists = pd.read_csv('../data/scientists.csv')

- 앞에서 mean, min, max, std 메서드를 호출하여 통계 수치를 계산했던 것을 기억하는가?
- 통계 수치의 결과값을 이용하여 불린 추출을 진행해 보겠다. 다음은 Age열을 추출하여 max, mean메서드를 사용한 것이다.

In [6]:
ages = scientists['Age'] 

print(ages.max())

90

In [7]:
print(ages.mean())

59.125

- 이제 불린 추출을 사용할 차례이다. 예를 들어 평균 나이보다 나이가 많은 사람의 데이터를 추출하려면 어떻게 해야 할까? 다음 코드를 실행하면 평균 나이보다 나이가 많은 사람의 데이터만 출력된다.

In [8]:
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

- 먼저 ages > ages.mean()의 결과를 출력해보자.
- 그러면 1,2,3,7 인덱스의 데이터가 참(True)이라는 것을 알 수 있다. 즉 조건식을 만족한 값만 출력된 것이다.

In [9]:
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [10]:
print(type(ages > ages.mean()))

<class 'pandas.core.series.Series'>

- 위의 과정을 다 합친 코드는 다음과 같다. 즉, 리스트 형태로 참이나 거짓을 담아 시리즈에 전달하면 참인 인덱스의 데이터만 추출할 수 있다.
- 바로 이것을 불린 추출이라고 한다.

In [11]:
manual_bool_values = [True, True, False, False, True, True, False, True] 
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 직접 해보세요!
## 벡터와 스칼라로 브로드캐스팅 수행하기(61쪽)

- 다음은 같은 길이의 벡터로 더하기 연산과 곱하기 연산을 수행한 것이다.
- 결과값으로 같은 길이의 벡터가 출력된다.

In [12]:
print(ages + ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [13]:
print(ages * ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

- 만약 벡터에 스칼라를 연산하면 어떻게 될까?
- 다음은 벡터의 모든 값에 스칼라를 적용하여 브로드캐스팅한 결과다.

In [14]:
print(ages + 100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [15]:
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

- 길이가 서로 다른 벡터를 연산하면 어떻게 될까? 시리즈와 시리즈를 연산하는 경우 같은 인덱스의 값만 계산한다.
- 다음은 데이터의 개수가 2개인 시리즈와 8개인 시리즈를 더한 것이다. 결과값을 살펴보면 인덱스가 일치한 0, 1만 계산했다는 것을 알 수 있다.
- 나머지 인덱스 (2~7)는 계산을 할 수 없기 때문에 누락값(NaN)으로 처리한다.

In [16]:
print(pd.Series([1, 100]))

0      1
1    100
dtype: int64

In [17]:
print(ages + pd.Series([1, 100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

- 다음은 sort_index 메서드를 사용한 것이다. 이때 ascending인자로 False를 전달하여 인덱스 역순으로 데이터를 정렬했다.

In [18]:
rev_ages = ages.sort_index(ascending=False) 
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

- 그러면 인덱스 순서대로 정렬된 ages와 인덱스 역순으로 정렬된 rev_age를 연산하면 어떻게 될까?
- ages의 데이터와 rev_ages의 데이터를 순서대로 더할 것 같지만 그렇지 않다.
- 다음은 ages * 2와 ages + rev_ages의 결과값을 출력한 것이다. 어떤가? ages * 2와 ages + rev_ages의 결과값이 동일하다.
- ages의 인덱스(0~7)와 rev_ages의 인덱스(0~7)가 일치하는 값끼리 연산했기 때문이다.
- 벡터와 벡터의 연산은 일치하는 인덱스의 값까리 수행한다는 것을 잊으면 안된다.

In [19]:
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [20]:
print(ages + rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 직접 해보세요!
## 불린 추출과 브로드캐스팅(65쪽)

- 데이터프레임도 부린 추출을 할 수 있따. 다음은 데이터프레임의 Age 열에서 Age 열의 평균보다 높은 행만 출력한다.

In [21]:
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

- 시리즈에 리스트로 참, 거짓을 전달하여 데이터를 추출했던 것을 기억하는가? 참, 거짓을 담은 리스트를 bool벡터라고 부른다.
- 만약 bool 벡터의 길이가 데이터프레임의 행 길이보다 짧으면 bool 벡터의 길이만큼만 연산한다. 
- 다음은 데이터프레임의 loc속성에 길이가 4인 bool 벡터를 전달한 것이다.

In [22]:
print(scientists.loc[[True, True, False, True]])

                Name        Born        Died  Age    Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1     William Gosset  1876-06-13  1937-10-16   61  Statistician
3        Marie Curie  1867-11-07  1934-07-04   66       Chemist

- 브로드캐스팅하기
- 데이터프레임에 스칼라 연산을 적용하면 어떻게 될까?
- 앞에서 시리즈에 스칼라 연산을 적용할 때는 모든 요소에 스칼라를 적용해서 연산을 했다. 데이터프레임도 마찬가지다.
- scientists 데이터프레임에 2를 곱하면 정수 데이터는 2를 곱한 숫자가 되고 문자열 데이터는 문자열이 2배로 늘어난다.

In [38]:
print(scientists * 2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 직접 해보세요!
## 시리즈와 데이터프레임의 데이터 처리하기(67쪽)

- 1. 열의 자료형 바꾸기와 새로운 열 추가하기
- scientists 데이터프레임의 Born과 Died 열의 자료형을 확인해보겠다. 각각의 자료형은 문자열(오브젝트)이다.

In [39]:
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

object
object

- 2. 날짜를 문자열로 저장한 데이터는 시간 관련 작업을 할 수 있도록 datetime 자료형으로 바꾸는 것이 더 좋다.
- 다음은 Born과 Died 열의 자료형을 datetime이라는 자료형으로 바꾼 다음 format 속성을 '%Y-%m-%d'로 지정하여 날짜 형식을 지정한 것이다.

In [40]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d') 
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [41]:
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

- 3. 위의 과정에서 각 데이터 자료형을 datetime으로 바꿔 born_datetime, died_datetime에 저장했으니 이제 데이터프레임에 각각의 값을 새로운 열로 추가해보자.
- 다음은 scientists 데이터프레임에 born_dt, died_dt 열을 추가한 것이다. shape 속성으로 데이터프레임의 형태를 살펴보면 (8,5)에서 (8,7)로 2개의 열이 추가되었다는 것을 알 수 있다.

In [47]:
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [43]:
print(scientists.shape)

(8, 7)

- 4. 이제 시간 계산을 해보자. died_dt 열에서 born_dt를 빼면 과학자가 얼마 동안 세상을 살다가 떠났는지 알 수 있다.

In [45]:
scientists['age_days_dt'] = (scientists['died_dt'] - \
                             scientists['born_dt'])
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

### 5. 시리즈, 데이터프레임의 데이터 섞기

- 가끔은 데이터를 적당히 섞어야 하는 경우도 있다. 판다스는 시리즈나 데이터프레임의 데이터를 무작위로 섞어볼 수 있다.
- 먼저 Age 값을 출력하여 살펴보자.

In [46]:
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

- Age 열의 데이터를 섞으려면 random라이브러리를 불러와야 한다. random 라이브러리에는 데이터를 섞어주는 shuffle 메서드가 있다.
- shuffle 메서드에 Age 열을 전달하여 데이터를 섞어보자. Age 열을 출력해 보면 인덱스 0 ~ 7에 해당하는 값이 잘 섞여 있음을 알 수 있다.

In [47]:
import random

random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

C:\Users\fermat39\Anaconda3\lib\random.py:275: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  x[i], x[j] = x[j], x[i]

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

### 7. 데이터프레임의 열 삭제하기

- 때로는 열을 통쨰로 삭제해야 하는 경우도 있다. 먼저 scientists 데이터프레임의 열을 확인해보자.

In [48]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

- 데이터프레임에서 열을 삭제하려면 데이터프레임의 drop 메서드를 사용해야 한다. shuffle 메서드로 섞은 Age 열을 삭제해 보겠다.
- drop 메서드의 첫 번째 인자에 열 이름을 리스트에 담아 전달하고 두 번째 인자에 axis=1을 전달하면 Age 열을 삭제할 수 있다.

In [49]:
scientists_dropped = scientists.drop(['Age'], axis=1)

print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

# 직접 해보세요!
## 데이터를 피클, CSV, TSV 파일로 저장하고 불러오기(72쪽)

### 1. 피클로 저장하기

- 피클은 데이터를 바이너리 형태로 직렬화한 오브젝트를 저장하는 방법이다. 피클로 저장하면 스프레드시트보다 더 작은 용량으로 데이터를 저장할 수 있어 매우 편리하다.
- 시리즈를 피클로 저장하려면 to_pickle 메서드를 사용하면 되는데, 이 때 저장 경로를 문자열로 전달해야 한다.

In [19]:
names = scientists['Name']

In [20]:
names.to_pickle('../output/scientists_names_series.pickle')

- 2. 데이터프레임도 피클로 저장할 수 있다.

In [21]:
scientists.to_pickle('../output/scientists_df.pickle')

- 3. 피클은 바이너리 형태의 오브젝트이기 때문에 저장된 피클 데이터를 편집기와 같은 프로그램으로 열어보면 이상한 문자가 나타난다.
- 피클 데이터는 반드시 read_pickle 메서드로 읽어야 한다.

In [53]:
scientist_names_from_pickle = pd.read_pickle('../output/scientists_names_series.pickle')
print(scientist_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [54]:
scientists_from_pickle = pd.read_pickle('../output/scientists_df.pickle')
print(scientists_from_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   61       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

### 4. CSV 파일과 TSV 파일로 저장하기

- CSV파일은 데이터를 쉼표로 구분하여 저장한 파일이고 TSV파일은 데이터를 탭으로 구분하여 저장한 파일이다.
- 실제로 각각의 파일을 텍스트 편집기로 열어 살펴보면 데이터가 쉼표, 탭으로 구분되어 있는 것을 알 수 있다.

- 5. to_csv 메서드로 시리즈와 데이터프레임을 csv 파일로 저장할 수 있다.
- 이때 sep 인자를 추가하여 '\t'를 지정하고 파일의 확장자를 '.tsv'로 지정하면 TSV파일로 저장할 수 있다.

In [55]:
names.to_csv('../output/scientist_names_series.csv')

In [56]:
scientists.to_csv('../output/scientists_df.tsv', sep='\t')

In [57]:
scientists.to_csv('../output/scientists_df_no_index.csv', index=False)

- 시리즈와 데이터프레임을 엑셀 파일로 저장하기
- 시리즈는 엑셀 구조와 맞지 않기 때문에 엑셀 파일로 저장할 수 없다. 물론 데이터프레임은 엑셀 파일로 바로 저장할 수 있다. 
- 단, xls파일로 저장하려면 xlwt라이브러리가 필요하고, xlsx파일로 저장하려면 openpyxl 라이브러리가 필요하다.

In [58]:
names_df = names.to_frame()

import xlwt 
names_df.to_excel('../output/scientists_names_series_df.xls')

import openpyxl 
names_df.to_excel('../output/scientists_names_series_df.xlsx')