# 직접 해보세요!
## 그룹화한 데이터의 평균 구하기(44쪽)
### 1. lifeExp 열을 연도별로 그룹화하여 평균 계산하기

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/gapminder.tsv', sep='\t')

In [4]:
print(df.head(n=10))

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

- 예를 들어 연도별 lifeExp 열의 평균을 계산하려면 어떻게 해야 할까?
- 데이터를 year열로 그룹화하고 lifeExp 열의 평균을 구하면 된다. 
- 다음은 데이터프레임의 groupby메서드에 year 열을 전달하여 연도별로 그룹화한 다음 lifeExp열을 지정하여 mean 메서드로 평균을 구한 것이다.

In [5]:
print(df.groupby('year')['lifeExp'].mean())

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

- 위의 과정을 작은 단위로 나누어 살펴보자.
- 먼저 데이터프레임을 연도별로 그룹화한 결과를 살펴보자.
- groupby메서드에 year 열 이름을 전달하면 연도별로 그룹화한 country, continent, ... gdpPercap 열을 모은 데이터 프레임을 얻을 수 있다.

In [44]:
grouped_year_df = df.groupby('year')
print(type(grouped_year_df))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

- grouped_year_df를 출력하면 위에서 얻은 데이터프레임이 저장된 메모리 위치를 알 수 있다.
- 이 결과를 통해 연도별로 그룹화한 데이터는 데이터프레임 형태로 현재 메모리의 0x1271a3e20이라는 위치에 저장되어 있음을 알 수 있다.

In [45]:
print(grouped_year_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x1271a3e20>

- 이어서 lifeExp 열을 추출한 결과를 살펴보겠다. 그룹화한 데이터프레임에서 lifeExp 열을 추출하면 그룹화한 시리즈를 얻을 수 ㅣㅇㅆ다.
- 즉 연도별로 그룹화한 lifeExp열을 얻을 수 있다.

In [46]:
grouped_year_df_lifeExp = grouped_year_df['lifeExp'] 
print(type(grouped_year_df_lifeExp))

<class 'pandas.core.groupby.generic.SeriesGroupBy'>

- 5.마지막으로 평균을 구하는 mean메서드를 사용한 결과를 살펴보겠다.
- 위에서 연도별로 그룹화한 lifeExp에 mean 메서드를 사용했기 때문에 각 연도별 lifeExp열의 평균값을 얻을 수 있다.

In [47]:
mean_lifeExp_by_year = grouped_year_df_lifeExp.mean() 
print(mean_lifeExp_by_year)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

### 6. lifeExp, gdpPercap 열의 평균값을 연도, 지역별로 그룹화하여 한 번에 계산하기

In [48]:
multi_group_var = df.groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']].mean() 
print(multi_group_var)

                  lifeExp     gdpPercap
year continent
1952 Africa     39.135500   1252.572466
     Americas   53.279840   4079.062552
     Asia       46.314394   5195.484004
     Europe     64.408500   5661.057435
     Oceania    69.255000  10298.085650
1957 Africa     41.266346   1385.236062
     Americas   55.960280   4616.043733
     Asia       49.318544   5787.732940
     Europe     66.703067   6963.012816
     Oceania    70.295000  11598.522455
1962 Africa     43.319442   1598.078825
     Americas   58.398760   4901.541870
     Asia       51.563223   5729.369625
     Europe     68.539233   8365.486814
     Oceania    71.085000  12696.452430
1967 Africa     45.334538   2050.363801
     Americas   60.410920   5668.253496
     Asia       54.663640   5971.173374
     Europe     69.737600  10143.823757
     Oceania    71.310000  14495.021790
1972 Africa     47.450942   2339.615674
     Americas   62.394920   6491.334139
     Asia       57.319269   8187.468699
     Europe     70.775033  12479.575246
     Oceania    71.910000  16417.333380
1977 Africa     49.580423   2585.938508
     Americas   64.391560   7352.007126
     Asia       59.610556   7791.314020
     Europe     71.937767  14283.979110
     Oceania    72.855000  17283.957605
1982 Africa     51.592865   2481.592960
     Americas   66.228840   7506.737088
     Asia       62.617939   7434.135157
     Europe     72.806400  15617.896551
     Oceania    74.290000  18554.709840
1987 Africa     53.344788   2282.668991
     Americas   68.090720   7793.400261
     Asia       64.851182   7608.226508
     Europe     73.642167  17214.310727
     Oceania    75.320000  20448.040160
1992 Africa     53.629577   2281.810333
     Americas   69.568360   8044.934406
     Asia       66.537212   8639.690248
     Europe     74.440100  17061.568084
     Oceania    76.945000  20894.045885
1997 Africa     53.598269   2378.759555
     Americas   71.150480   8889.300863
     Asia       68.020515   9834.093295
     Europe     75.505167  19076.781802
     Oceania    78.190000  24024.175170
2002 Africa     53.325231   2599.385159
     Americas   72.422040   9287.677107
     Asia       69.233879  10174.090397
     Europe     76.700600  21711.732422
     Oceania    79.740000  26938.778040
2007 Africa     54.806038   3089.032605
     Americas   73.608120  11003.031625
     Asia       70.728485  12473.026870
     Europe     77.648600  25054.481636
     Oceania    80.719500  29810.188275

In [49]:
print(type(multi_group_var))

<class 'pandas.core.frame.DataFrame'>

### 7. 그룹화한 데이터의 개수 세기

- 이번에는 그룹화한 데이터의 개수가 몇 개인지 알아보겠다.
- 이를 통계에서는 '빈도수'라고 부른다. 데이터의 빈도수는 nunique메서드를 사용하면 쉽게 구할 수 있다.
- 다음은 continent를 기준으로 데이터프레임을 만들고 country열만 추출하여 데이터의 빈도수를 계산한 것이다.

In [50]:
print(df.groupby('continent')['country'].nunique())

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64