# 직접 해보세요!
## 제곱 함수와 n 제곱 함수 만들기(202쪽)

- 제곱 함수와 n제곱 함수를 직접 만들어보자. 제곱 함수와 n제곱 함수는 10-2에서 apply 메서드와 함께 사용한다.

In [1]:
def my_sq(x):
    return x ** 2

In [2]:
def my_exp(x, n):
    return x ** n

In [2]:
print(my_sq(4))

16

In [3]:
print(my_exp(2, 4))

16

# 직접 해보세요!
## 시리즈와 데이터프레임에 apply 메서드 사용하기(203쪽)

### 1. 시리즈와 apply 메서드

- 실습을 위한 데이터프레임을 준비하자

In [5]:
import pandas as pd

df = pd.DataFrame({'a': [10, 20, 30], 'b': [20, 30, 40]}) 

print(df)

    a   b
0  10  20
1  20  30
2  30  40

- 다음은 앞에서 만든 제곱 함수(my_exp)를 사용하기 전에 a열을 제곱하여 얻은 결과다.
- 이 결과값과 apply메서드를 적용한 결과값을 비교해보자

In [6]:
print(df['a'] ** 2)

0    100
1    400
2    900
Name: a, dtype: int64

- 다음은 apply메서드에 제곱 함수의 이름(my_sq)을 전달하여 시리즈의 모든 데이터에 제곱 함수를 적용한 것이다.
- 이때 apply메서드에 전달하는 함수(my_sq)가 1개 인자를 받도록 구성되어 있다면 인자값을 생략해야 한다.
- 그러면 2개의 인자를 전달할 때는 어떻게 해야 할까?

In [7]:
sq = df['a'].apply(my_sq) 
print(sq)

0    100
1    400
2    900
Name: a, dtype: int64

- 이제 2개의 인자를 전ㄷ라 받아아야 하는 n제곱 함수(my_exp)와 apply 메서드를 함께 사용해보자.
- apply메서드의 첫 번째 인자에는 n제곱 함수의 이름(my_exp)을 전달하고 두 번째 인자에는 n 제곱 함수의 두 번째 인자(n)를 전달한다.

In [8]:
ex = df['a'].apply(my_exp, n=2) 
print(ex)

0    100
1    400
2    900
Name: a, dtype: int64

In [9]:
ex = df['a'].apply(my_exp, n=3) 
print(ex)

0     1000
1     8000
2    27000
Name: a, dtype: int64

### 5. 데이터 프레임과 apply 메서드

- 이번에는 시리즈가 아니라 데이터프레임에 apply 메서드를 사용하는 방법을 알아보자.
- 먼저 데이터프레임을 준비하자

In [5]:
df = pd.DataFrame({'a': [10, 20, 30], 'b': [20, 30, 40]}) 
print(df)

    a   b
0  10  20
1  20  30
2  30  40

- 새로운 함수를 만들어보자. 이번에 사용할 함수는 1개의 값을 전달받아 출력하는 함수다

In [6]:
def print_me(x): 
    print(x)

- 이번에는 데이터프레임에 함수를 적용해야 하기 때문에 함수를 열 방향으로 적용할지 행 방향으로 적용할지 정해야 한다.
- axis 인자값을 0이나 1로 지정하면 함수를 열 또는 행 방향으로 적용할 수 있다.

In [7]:
print(df.apply(print_me, axis=0))

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

In [8]:
print(df['a'])

0    10
1    20
2    30
Name: a, dtype: int64

In [9]:
print(df['b'])

0    20
1    30
2    40
Name: b, dtype: int64

- 이번에는 3개의 인자를 입력받아 평균을 계산하는 함수를 사용해

In [1]:
def avg_3(x, y, z):
    return (x + y + z) / 3

- 그런데 avg_3함수를 apply메서드에 전달하면 'avg_3 함수는 3개의 인자값을 필요로하는 함수인데 1개의 인자값만 입력받았다'는 오류 메시지가 출력된다.
- 즉, avg_3 함수에 열 단위 데이터(df['a'] 또는 df['b'])가 전달되었고 이 값을 avg_3 함수에서 1개의 인자로 인식한 것이다.
- 따라서 avg_3 함수가 열 단위로 데이터를 처리할 수 있도록 수정해야 한다.

In [11]:
print(df.apply(avg_3))

TypeError: ("avg_3() missing 2 required positional arguments: 'y' and 'z'", 'occurred at index a')

- 다음은 avg_3함수가 열 단위로 데이터를 처리할 수 있도록 개선한 avg_3_apply함수이다.
- 개선한 함수를 apply메서드에 적용하면 잘 동작하는 것을 알 수 있다.

In [12]:
def avg_3_apply(col):
    x = col[0] 
    y = col[1] 
    z = col[2] 
    return (x + y + z) / 3


print(df.apply(avg_3_apply))

a    20.0
b    30.0
dtype: float64

- 앞의 과정에서는 데이터프레임의 행 개수가 3이라는 것을 알고 있다는 전제로 함수를 작성한 것이고,
- 일반적으로는 for 문을 사용하여 아래와 같이 작성한다.

In [23]:
def avg_3_apply(col):
    sum = 0
    for item in col:
         sum += item
    return sum / df.shape[0]

- 위의 과정에서 함수를 응용하면 행 방향으로 데이터를 처리하는 함수도 만들 수 있다.
- 마지막 return문의 df.shape[0]을 df.shape[1]로 바꾸면 된다.

In [31]:
def avg_2_apply(row):
    sum = 0
    for item in row:
        sum += item
    return sum / df.shape[1]

In [32]:
print(df.apply(avg_2_apply, axis = 1))

0    15.0
1    25.0
2    35.0
dtype: float64