# 직접 해보세요!
## datetime 오브젝트 사용하기(238쪽)

- datetime 라이브러리나 날짜와 시간을 처리하는 등의 다양한 기능을 제공하는 파이썬 라이브러리이다. datetime 라이브러리에는 날짜를 처리하는 date오브젝트. 시간을 처리하는 time 오브젝트,
- 날짜와 시간을 모두 처리하는 datetime 오브젝트가 포함되어 이싿.
- 앞으로 3개의 오브젝트를 명확히 구분하기 위해 영문 그대로 살려 date, time, datetiem 오브젝트라고 부르겠다.

In [113]:
from datetime import datetime

- datetime 오브젝트를 사용하기 위해 datetime라이브러리를 불러온다.

In [114]:
now1 = datetime.now() 
print(now1)

2018-08-27 17:10:47.880731

In [115]:
now2 = datetime.today()
print(now2)

2018-08-27 17:10:48.088284

ㅁ

In [116]:
t1 = datetime.now() 
t2 = datetime(1970, 1, 1)
t3 = datetime(1970, 12, 12, 13, 24, 34)

print(t1)
print(t2)
print(t3)

2018-08-27 17:10:48.312881
1970-01-01 00:00:00
1970-12-12 13:24:34

- datetime 오브젝트를 사용하는 이유 중 하나는 시간 계산을 할 수 있다는 점이다.
- 다음 두 datetime 오브젝트 차이를 구한 것이다.

In [117]:
diff1 = t1 - t2

print(diff1)
print(type(diff1))

17770 days, 17:10:48.312881
<class 'datetime.timedelta'>

In [118]:
diff2 = t2 - t1

print(diff2)
print(type(diff2))

-17771 days, 6:49:11.687119
<class 'datetime.timedelta'>

# 직접 해보세요!

## 문자열을 datetime 오브젝트로 변환하기(240쪽)

- 경우에 따라서는 시계열 데이터를 문자열로 지정해야 할 때도 있다. 하지만 문자열은 시간 계산을 할 수 없기 때문에 datetime 오브젝트로 변환해 주어야 한다.
- 이번에는 to_datetime 메서드를 사용하여 문자열 datetime 오브젝트로 변환하는 방법에 대해 알아보자.

- 먼저 ebola 데이터 집합을 불러온다.

In [119]:
import pandas as pd 
import os
ebola = pd.read_csv('../data/country_timeseries.csv')

- ebolar데이터프레임을 보면 문자열로 저장된 Date열이 있는 것을 알 수 있다.

In [120]:
print(ebola.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
dtypes: float64(16), int64(1), object(1)
memory usage: 17.2+ KB
None

- to_datetime 메서드를 사용하면 Date열의 자료형을 datetime 오브젝트로 변환할 수 있다.
- 다음과 같이 to_datetime 메서드를 사용하여 Date 열의 자료형을 datetime오브젝트로 변환한 다음 ebola 데이터프레임에 새로운 열로 추가한다.

In [121]:
ebola['date_dt'] = pd.to_datetime(ebola['Date'])
print(ebola.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 19 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
date_dt                122 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(16), int64(1), object(1)
memory usage: 18.2+ KB
None

- to_datetime 메서드를 좀 더 자세히 알아보자.
- 시간 형식 지정자(%d, %m, %Y)와 기호(/, -)를 적절히 조합하여 format 인자에 전달하면 그 형식에 맞게 정리된 datetime 오브젝트를 얻을 수 있다.

In [122]:
test_df1 = pd.DataFrame({'order_day':['01/01/15', '02/01/15', '03/01/15']})

test_df1['date_dt1'] = pd.to_datetime(test_df1['order_day'], format='%d/%m/%y')
test_df1['date_dt2'] = pd.to_datetime(test_df1['order_day'], format='%m/%d/%y')
test_df1['date_dt3'] = pd.to_datetime(test_df1['order_day'], format='%y/%m/%d')

print(test_df1)

  order_day   date_dt1   date_dt2   date_dt3
0  01/01/15 2015-01-01 2015-01-01 2001-01-15
1  02/01/15 2015-01-02 2015-02-01 2002-01-15
2  03/01/15 2015-01-03 2015-03-01 2003-01-15

In [123]:
test_df2 = pd.DataFrame({'order_day':['01-01-15', '02-01-15', '03-01-15']})
test_df2['date_dt'] = pd.to_datetime(test_df2['order_day'], format='%d-%m-%y')

print(test_df2)

  order_day    date_dt
0  01-01-15 2015-01-01
1  02-01-15 2015-01-02
2  03-01-15 2015-01-03

# 알아두면 좋아요!
## 시계열 데이터를 구분해서 추출하고 싶어요(243쪽)

- now 메서드로 얻은 현재 시간의 데이터는 아주 정밀한 단위까지 시간을 표현한다. 하지만 원하는 시계열 데이터의 시간 요소가 연도, 월, 일뿐이라면 now메서드로 얻은 시계열 데이터를 잘라내야 한다. 다음은 strftime메서드와 시간 형식 지정자를 이용하여 시계열 데이터를 잘라낸 것이다.

In [124]:
now = datetime.now()
print(now)

2018-08-27 17:10:51.920477

In [125]:
nowDate = now.strftime('%Y-%m-%d')
print(nowDate)

2018-08-27

In [126]:
nowTime = now.strftime('%H:%M:%S')
print(nowTime)

17:10:51

In [127]:
nowDatetime = now.strftime('%Y-%m-%d %H:%M:%S')
print(nowDatetime)

2018-08-27 17:10:51

# 직접 해보세요!
## datetime 오브젝트로 변환하려는 열을 지정하여 데이터 집합 불러오기(244쪽)

- 앞에서는 to_datetime메서드를 사용하여 문자열로 저장되어 있는 Date열을 datetime오브젝트로 변환했다. 하지만 datetime 오브젝트로 변환하려는 열을 지정하여 데이터집합을 불러오는 것이 더 간단하다.

- 다음은 read_csv메서드의 parse_dates 인자에 datetime 오브젝트로 변환하고자 하는 열의 이름을 전달하여 데이터 집합을 불러온 것이다.
- 결과를 보면 Date 열이 문자열이 아니라 datetime 오브젝트라는 것을 확인할 수 있다.

In [128]:
ebola1 = pd.read_csv('../data/country_timeseries.csv', parse_dates=['Date']) 
print(ebola1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
Date                   122 non-null datetime64[ns]
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
dtypes: datetime64[ns](1), float64(16), int64(1)
memory usage: 17.2 KB
None

# 직접 해보세요!
## datetime 오브젝트에서 날짜 정보 추출하기(244쪽)

- datetime오브젝트에는 년, 월, 일과 같은 날짜 정보를 따로 저장하고 있는 속성이 이미 준비되어 있다.
- 다음은 실습을 통해 datetime 오브젝트에서 날짜 정보를 하나씨 추출해보자.

- 다음은 문자열로 저장된 날짜를 시리즈에 담아 datetime 오브젝트로 변환한 것이다.

In [129]:
date_series = pd.Series(['2018-05-16', '2018-05-17', '2018-05-18'])
d1 = pd.to_datetime(date_series) 
print(d1)

0   2018-05-16
1   2018-05-17
2   2018-05-18
dtype: datetime64[ns]

- datetime 오브젝트(d1)의 year, month, day속성을 이용하면 년, 월, 일 정보를 바로 추출할 수 있다.

In [130]:
print(d1[0].year)

2018

In [131]:
print(d1[0].month)

5

In [132]:
print(d1[0].day)

16

# 직접 해보세요!
## dt 접근자로 시계열 데이터 정리하기(245쪽)

- 문자열을 처리하려면 str접근자를 사용한 다음 문자열 속성이나 메서드를 사용해야 했다.
- datetime오브젝트로 마찬가지로 dt접근자를 사용하면 datetime속성이나 메서드를 사용하여 시계열 데이터를 처리할 수 있다.

- 먼저 ebola 데이터 집합을 불러온 다음 Date 열을 datetime오브젝트로 변환하여 새로운 열(date_dt)로 추가한다.

In [133]:
ebola = pd.read_csv('../data/country_timeseries.csv')
ebola['date_dt'] = pd.to_datetime(ebola['Date'])

- 다음은 dt접근자를 사용하지 않고 인덱스가 3인 데이터의 년, 월, 일 데이터를 추출한 것이다.

In [134]:
print(ebola[['Date', 'date_dt']].head())

         Date    date_dt
0    1/5/2015 2015-01-05
1    1/4/2015 2015-01-04
2    1/3/2015 2015-01-03
3    1/2/2015 2015-01-02
4  12/31/2014 2014-12-31

In [135]:
print(ebola['date_dt'][3].year)

2015

In [136]:
print(ebola['date_dt'][3].month)

1

In [137]:
print(ebola['date_dt'][3].day)

2

- 위와 같은 방법은 date_dt 열의 특정 데이터를 인덱스로 접근해야 하기 때문에 불편하다.
- 다음은 dt접근자로 date_dt열에 한 번에 접근한 다음 year 속성을 이용하여 연도값을 추출한다.
- 추출한 연도값은 ebola데이터프레임의 새로운 열(year)로 추가했다.

In [138]:
ebola['year'] = ebola['date_dt'].dt.year
print(ebola[['Date', 'date_dt', 'year']].head())

         Date    date_dt  year
0    1/5/2015 2015-01-05  2015
1    1/4/2015 2015-01-04  2015
2    1/3/2015 2015-01-03  2015
3    1/2/2015 2015-01-02  2015
4  12/31/2014 2014-12-31  2014

- 다음은 위의 과정을 응용하여 월, 일 데이터를 한 번에 추출해서 새로운 열(month, day)로 추가한 것이다.

In [139]:
ebola['month'], ebola['day'] = (ebola['date_dt'].dt.month, ebola['date_dt'].dt.day)

print(ebola[['Date', 'date_dt', 'year', 'month', 'day']].head())

         Date    date_dt  year  month  day
0    1/5/2015 2015-01-05  2015      1    5
1    1/4/2015 2015-01-04  2015      1    4
2    1/3/2015 2015-01-03  2015      1    3
3    1/2/2015 2015-01-02  2015      1    2
4  12/31/2014 2014-12-31  2014     12   31

- 아래 ebola데이터프레임에 새로 추가한 date_dt, year, month, day열의 자료형을 출력한 것이다.
- date_dt열은 datetime오브젝트이고 나머지는 정수형이라는 것을 알 수 있다.

In [140]:
print(ebola.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 22 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
date_dt                122 non-null datetime64[ns]
year                   122 non-null int64
month                  122 non-null int64
day                    122 non-null int64
dtypes: datetime64[ns](1), float64(16), int64(4), object(1)
memory usage: 21.0+ KB
None